<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.questionnaire.mapper.questionnaire.QuestionnaireMainMapper">

    <resultMap id="baseResultMap" type="com.questionnaire.entity.questionnaire.QuestionnaireMain">
        <id column="main_id" property="mainId" jdbcType="VARCHAR" />
        <result column="main_title" property="mainTitle" jdbcType="VARCHAR" />
        <result column="main_creat" property="mainCreat" jdbcType="TIMESTAMP" />
        <result column="main_isuse" property="mainIsuse" jdbcType="CHAR" />
        <result column="main_endtime" property="mainEndtime" jdbcType="DATE" />
        <result column="main_creatuser" property="mainCreatuser" jdbcType="VARCHAR" />
        <result column="main_creatdep" property="mainCreatdep" jdbcType="INTEGER" />
    </resultMap>

    <resultMap type="java.util.Map" id="CountMap">
        <result column="count(main_id)" property="count" jdbcType="DECIMAL" />
    </resultMap>

    <sql id="base_column_list">
        main_id, main_title, main_creat, main_isuse, main_endtime, main_creatuser, main_creatdep
    </sql>

    <select id="selectPage" resultMap="baseResultMap" parameterType="java.util.Map">
        select <include refid="base_column_list" />
        from questionnaire_main
        where main_isuse = 'y' and #{mainEndtime} &lt;= main_endtime
        order by main_creat desc
        limit #{page, jdbcType=INTEGER}, #{row, jdbcType=INTEGER}
    </select>

    <select id="selectCount" resultMap="CountMap" parameterType="java.util.Map">
        select COUNT(main_id)
        from questionnaire_main
        where main_isuse = 'y' and #{mainEndtime} &lt;=main_endtime
    </select>
</mapper>